<div class="group">
    <a class="grid-half offset-half fade" href="/location">Location</a>
    <a class="grid-half offset-half fade" href="/">Home</a>
</div>
<hr />
<h2 class="text-center">Update Location</h2>

<form action="/location/update/<%= location.id %>" method="POST" id="login-form">
    <div class="control-group">
        <input type="text" class="form-control text-center" placeholder="location" name="name" value="<%= location.name %>" required>
        <label for="parentId">Located within</label>
        <select name="parentId">
            <% for(p=0;p<parents.length;p++) { %>
                <option value=<%= parents[p]['val'] %> 
                    <% if(String(location.parentId) == parents[p]['val']) { %>
                    selected="true"
                    <% } %> >
                    <%= parents[p]['text'] %>
                </option>
            <% } %>
        </select>
        
    </div>
    
    <input type="submit" class="submit btn fade" value="Update"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
<hr />