<div class="group">
    <a class="grid-half fade" href="/user/<%= user.id %>">Profile</a><a class="grid-half fade" href="/">Logout</a>
</div>

<hr />

<% if (user.photoPath) { %>
    <h2>Update your photo</h2>
<div class="group">
    <img src="<%= user.rotatedPhotoPath() %>" />
</div>
<div class="group">
    <div class="grid-half float-left">
        <form id="rotateLeftForm" action="/user/<%= user.id %>/rotatePhoto" method="post">
            <input type="hidden" name="userId" value="<%= user.id %>" />
            <input type="hidden" name="direction" value="left" />
            <input type="submit" class="btn" value="Rotate Left"/>    
        </form>
    </div>
    <div class="grid-half float-right">
        <form id="rotateLeftForm" action="/user/<%= user.id %>/rotatePhoto" method="post">
            <input type="hidden" name="userId" value="<%= user.id %>" />
            <input type="hidden" name="direction" value="right" />
            <input type="submit" class="btn" value="Rotate Right"/>    
        </form>
    </div>
</div>

    
<% } else { %>
    <h2>Add your photo</h2>
<% } %>

<div class="group">
    <form id="uploadForm"
    enctype="multipart/form-data"
    action="/upload/upload"
    method="post">
    <input type="hidden" name="userId" value="<%= user.id %>" /> 
    <input type="file" id="userPhotoInput" name="userPhoto" />
    <input type="submit" class="btn" value="Upload"/>    
    </form>
</div>
<hr />