<div class="group">
    <a class="grid-half offset-half fade" href="/">Logout</a>
</div>

<hr/>
<div class="group">
<a class="btn grid-half float-center fade" href="/learn/<%= user.id %>">Start Learning</a>
</div>

<% if (user.name) { %>
<h4><%= user.email %></h4>
<% } else { %>
<h4>Add your name below - <%= user.email %></h4>
<% } %>

<% if (user.photoPath) { %>
    <a class="fade" href="/user/<%= user.id %>/photo"><img src="<%= user.rotatedPhotoPath() %>" /></a>
    <div><a class="btn fade" href="/user/<%= user.id %>/photo">Update Photo</a></div>    
<% } else { %>
    <a class="btn fade" href="/user/<%= user.id %>/photo">Add your photo</a>
<% } %>


<form action="/user/update/<%= user.id %>" method="POST" id="profile-form" class="space-top">
    
    <div class="group">
        <input type="text" value="<%= user.name || '' %>" class="form-control text-center" placeholder="Add your name" name="name">
    </div>
    <div class="group">
        <label class="text-left grid-third float-left">Work in</label>
        <select name="workLocationId" class="grid-half float-right">
            <% for(l=0;l<locations.length;l++) { %>
                <option value=<%= locations[l]['val'] %> 
                    <% if(String(user.workLocationId) == locations[l]['val']) { %>
                    selected="true"
                    <% } %> >
                    <%= locations[l]['text'] %>
                </option>
            <% } %>
        </select>
    </div>
    <div class="group">
        <label class="text-left grid-half float-left">Learn people in</label>
        <select name="learnLocationId" class="grid-half float-right">
            <% for(l=0;l<locations.length;l++) { %>
                <option value=<%= locations[l]['val'] %> 
                    <% if(String(user.learnLocationId) == locations[l]['val']) { %>
                    selected="true"
                    <% } %> >
                    <%= locations[l]['text'] %>
                </option>
            <% } %>
        </select>
    </div>
        
    <input type="submit" class="btn" value="Update Profile"/>
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>
<hr />

<div class="group">
    <a class="grid-half float-center fade" href="/userRequest">Leave Feedback</a>
</div>
